body{background: #e9ecf3;}
.cc{width:77%;overflow:hidden;padding:12px 24px 12px;-border: 1px solid #e9ecf3;background-color: #fff;margin-left: 2%;float:left;border-radius: 5px;}
/*试验区*/
.cc-add{width:100%;height:92px;}
.bj{background: url(../img/cc-img/weather.jpg) no-repeat;background-size:cover;}
.demo { width:100px; min-width:100px; max-width:100px; }
#demo { color:#FFF;overflow:hidden;}
#demo i { background: no-repeat top left; display:inline-block; height:120px;margin:0 auto 20px auto; font-size:50px; font-style:normal; text-align:right;margin-left:50px;width:25%;}
#demo i.icon-xiaoyu { background-image:url(../img/cc-img/icon/xiaoyu.png); }
#demo i.icon-zhongyu { background-image:url(../img/cc-img/icon/zhongyu.png); }
#demo i.icon-dayu { background-image:url(../img/cc-img/icon/dayu.png); }
#demo i.icon-qing { background-image:url(../img/cc-img/icon/qing.png); }
#demo i.icon-duoyun { background-image:url(../img/cc-img/icon/duoyun.png); }
#demo i.icon-yin { background-image:url(../img/cc-img/icon/yin.png); }
#demo p { display:inline-block;-background:rgba(0,0,0,.3);padding:20px;font-size:20px;text-shadow: 0 0 10px #4A85C3; line-height:50px; padding-left:100px;}
#demo p span { margin:0 6px; }
#demo2 { width:980px; margin:0 auto; margin-top:20px; background:#fafafa; border:1px solid #ddd; padding:30px 0; overflow:hidden; }
#demo p:last-child{display: block;margin-top:-100px;}
/*	标题区	 */
.cc-title{min-height: 48px;margin-bottom:10px;border-bottom: 1px solid #eef1f5;}
.cc-title p{color: #32c5d2;padding:10px 0;font-size: 18px;line-height: 18px;font-weight:700;}
.cc-title p span{margin-right:6px;}
.cc-title p span i{font-size: 24px}
/*	功能区	 */
.cc-block{padding-top:10px;padding-bottom:10px;font-size:10px;}
.cc-block .block_g{width:100%;overflow:hidden;}
.cc-block .block_g li{margin:0 12px;}
.cc-block .block_g .fl p{border-color:#4db14d;background-color:#5eb95e;}
.cc-block .block_g .fl p a{padding:4px 7px 5px 2px;color:#fff;display: inline-block}
.cc-block .block_g .fl p span{font-size: 20px;font-weight:bold;}
.cc-block .block_g .fr{width:23%;}
.cc-block .block_g .fr input,.cc-block .block_g .fr button{border:0;outline:none;}
.cc-block .block_g .fr div{width:100%;position:relative;border-radius: 3px;overflow: hidden;display: table;border-collapse: separate;height:35px;}
.cc-block .block_g .fr div span{position:absolute;right:0;top:0;}
.cc-block .block_g .fr div input{width:80%;color: #555;border-top-right-radius: 0;border-bottom-right-radius: 0;border-bottom: 1px solid #c2cad8;position: absolute;height:32px;clip:rect(0,188px,35px,188px);transition:all 1s;
background:transparent;}
.cc-block .block_g .fr div span{height:35px;width:20%;}
.cc-block .block_g .fr div span button{width:100%;height:100%;background-color:#5eb95e;}
/*	列表区	 */
.cc-main{padding:0 10px;}
.cc-main table{width:100%;}
.cc-main table thead tr{border-bottom:1px solid #d9d9d9;}
.cc-main table th{text-align: left;padding:16px;line-height:1.6;font-weight: bold;color: #93a2a9;border-bottom: 1px solid #d9d9d9;}
.cc-main table tbody tr:nth-child(even){background:#f3f4f6;}
.cc-main table tbody tr td{border-top: 1px solid #F2F5F8;color: #93a2a9;padding:12px;line-height:1.2;}
.cc-main table tbody tr td a{color:#0e90d2;display: inline-block;}
.cc-main table tbody tr td span a{padding:8px 8px 8px 26px;}
.cc-main table tbody tr td a:focus,.cc-main table tbody tr td a:hover{color: #23527c;}  
.cc-main table tbody tr:nth-child(odd):hover{background:#e3e4e5;border-top: 1px solid #F2F5F8;}
.cc-main table tbody span{border:1px solid #d9d9d9;transition:all .5s;cursor: pointer;border-radius: 3px;}
.cc-main table tbody span:first-child{border-right:none;background: white url(../img/cc-img/cc-02.gif) no-repeat 9px 11px;}
.cc-main table tbody span:last-child{background: white url(../img/cc-img/cc-03.gif) no-repeat 9px 11px;}
.cc-main table tbody span:last-child a{color:#dd514c}
.cc-main table tbody span:hover{box-shadow:0 0px 30px 1px #ccc inset;}
.cc-main table tbody span:first-child:hover a{color:#0e90d2;}
.cc-main table tbody span:last-child:hover a{color:#dd514c;}
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { 
    .cc-main table thead{
        background-image: -webkit-linear-gradient(left, #147B96, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-background-size: 200% 100%;
        -webkit-animation: masked-animation 2s infinite linear;
    }
}
@-webkit-keyframes masked-animation {
    0%  { background-position: 0 0;}
    100% { background-position: -100% 0;}
}
/*	 分页区	*/
.cc-page{overflow: hidden;border-bottom:1px solid #d9d9d9;width:100%;margin:40px 0 80px;padding-bottom:40px;}
.cc-page>div{overflow: hidden;}
.cc-page #pagecount{position:relative;}
.cc-page #pagecount span{display:inline-block;border: 1px solid #ddd;color:#23abf0;font-size:15px;border-radius: 4px;overflow: hidden;margin-right:10px;width:36px;height:36px;line-height:36px;text-align: center;}
.cc-page #pagecount .disabled{cursor: default;background: #fff;}
.cc-page #pagecount .active{background:#23abf0;color:white;border: none;}
.cc-page #pagecount span a{color:#23abf0;font-size:15px;display: inline-block;width:100%;}
.cc-page #pagecount span:hover a{background:#23abf0;color:white;}

.bx_total{
	width: 100%;
	height: 76px;
	background: #fff;
	/*margin:0 auto;*/
	float: left;
	position: fixed;
	top: 0;
	z-index: 9;
}
span{
	display: inline-block;
}
.bx_tu{
	width:200px;
	height: 34px;
	background: url(../img/bx-img/1.gif) no-repeat;
	position: absolute;
	left: 28px;
	top: 24px;
}
.bx_tu1{
	width: 14px;
	height:14px;
	float: left;
	margin-top: 31px;
	margin-left: 20px;
	background: url(../img/bx-img/2.gif) no-repeat;
}
.bx_tu2{
	width: 15px;
	height: 12px;
	float: left;
	margin-top: 31px;
	margin-left: 20px;
	background: url(../img/bx-img/3.gif) no-repeat;
}
.bx_left{
	width: 50%;
	height: 76px;
	float: left;
}
.bx_right{
	width: 50%;
	height: 76px;
	float: right;
	
}

.bx_right>ul>li:hover{
	background: #f3f4f6;
	display: block;
	cursor: pointer;
}
.bx_tu3{
	width: 17px;
	height: 14px;
	float: left;
	margin-top: 31px;
	margin-left: 12px;
	background: url(../img/bx-img/5.gif) no-repeat;
}
.bx_right>ul{
	margin-left: 72px;
	overflow: hidden;
	float: right;
}
.bx_right>ul>li{
	width: 90px;
	height: 76px;
	float: left;
	/*margin-right: 50px;*/
	list-style: none;
	color: #9f9397;
	line-height: 76px;
	text-indent: 5px;
}
.bx_right>ul>li:nth-child(3){
	width: 126px;
	height: 76px;
	text-indent: 10px;
	margin-right: 13px;
}
.bx_tu4{
	width: 39px;
	height: 39px;
	float: left;
	margin-top: 18px;
	margin-left:8px;
	border-radius:100%;
}
.bx_big{
	width:98%;
	overflow: hidden;
	height: auto;
	margin: 0 auto;
	margin-top: 94px;
}
.bx_list{
	width: 15%;
	height: 415px;
	background: white;
	border-radius: 5px;
	float: left;
	overflow: hidden;
}
.bx_list ul li{
	width:99%;
	height: 50px;
	line-height: 50px;
	cursor: pointer;
	border-left: 3px solid #fff;
}
.bx_list>ul>span{
	width: 235px;
	height: 50px;
	line-height: 70px;
}
.bx_list ul li:hover{
	background: #f3f4f6;
	border-left: 3px solid #5b9cd4;
	color: #5b9acf;
}
.bx_list ul li:hover a{
	color: #5b9acf;
}
.bx_list ul li:hover span{
	color: #5a98d1;
}
.bx_list ul li p{
	width: 140px;
	height: 37px;
}
.icon-home3{
	width: 21px;
	height: 17px;
	font-size: 18px;
	    float: left;
    margin-left: 20px;
    margin-top: 16px;
    color: #a6c1d4;
    margin-right:10px;
}
.icon-stats-bars{
	color: #a6c1d4;
	font-size: 18px;
	    float: left;
    margin-left: 20px;
    margin-top: 16px;
    margin-right:10px;
}
.icon-file-text{
	color: #5a98d1;
	font-size: 18px;
	float: left;
    margin-left: 20px;
    margin-top: 16px;
    margin-right:10px;
}
.icon-copy{
	color: #a6c1d4;
	font-size: 18px;
	    float: left;
    margin-left: 20px;
    margin-top: 16px;
    margin-right:10px;
}
.icon-bin2{
	color: #a6c1d4;
	font-size: 18px;
	float: left;
    margin-left: 20px;
    margin-top: 16px;
    margin-right:10px;
}