<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/commonality.css" />
		<link rel="stylesheet" href="../css/san_crm.css" />
		<link rel="stylesheet" href="../css/svg/font.css" />
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/echarts.js"></script>
		<script src="../js/san_crm.js"></script>
	</head>

	<body>
		<div class="bx_total">
			<div class="bx_left">
				<div class="bx_tu"></div>
			</div>
			<div class="bx_right">
				<ul>
					<li><span class="bx_tu1"></span>提醒</li>
					<li><span class="bx_tu2"></span>消息</li>
					<li><span style="float: left;color: #83afcc;" id="san_name">帅帅锅巴</span><img class="bx_tu4"></li>
					<li id="tui"><span class="bx_tu3"></span>退出</li>
				</ul>
			</div>
		</div>
		<div class="bx_big">
			<div class="bx_list">
				<ul class="bx_ul">
					<span style="margin-left: 20px;color: #5198cc;">功能列表</span>
					<a href="../../index.html"><li><span class="icon-home3"></span>
						首页</li></a>
					
					<a href="cc-table.html" style="color: #5a98d1;"><li style="background: #f2f6f9;border-left: 3px solid #5b9cd4;"><span class="icon-stats-bars"></span>
						数据表</li></a>
					
					<a href="cc-table.html"><li><span class="icon-file-text"></span>
						员工信息</li></a>
					
				<a href="cc-recycle.html" ><li><span class="icon-bin2" ></span>
						回收站</li></a>
					
				<a href="register.html"><li><span class="icon-copy"></span>
						注册</li></a>
					
				</ul>
			</div>
			<div class="san-zeng">
				<!--
            	作者：wss
            	时间：2017-03-14
            	描述：图表
            -->
				<div class="san-title">
					<h3>表单</h3>
					<ul>
						<li class="san-fang">
							<a href="../index.html">首页</a>
						</li>
						<li>数据表</li>
					</ul>
				</div>
				<div class="san_imgCon">
					<h1>折线图</h1>
					<!--
                	作者：offline
                	时间：2017-03-16
                	描述：折线图
                -->
					<div id="line_chart" style="width:100%;height:518px;float:left;">

					</div>
					<h1>柱状图</h1>
					<!--
                	作者：offline
                	时间：2017-03-16
                	描述：柱状图
                -->
					<div id="histogram" style="width:100%;height:518px;float:left;">

					</div>
					<h1>饼状图</h1>
					<!--
                	作者：offline
                	时间：2017-03-16
                	描述：饼状图
                -->
					<div id="pie_chart" style="width:100%;height:518px;float:left;">

					</div>

				</div>
			</div>
	</body>

</html>